:host {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

.left {
  order: 0;
  flex: 0 1 auto;
  align-self: stretch;

  justify-content: center;
  display: flex;
  align-items: center;

  margin: 20px 15px;
}

.left > img {
  height: 2em;
  width: auto;
}

.middle-right {
  order: 0;
  flex: 1 1 auto;
  align-self: center;

  color: #5b6983;
}
