:host {
  background:
    url("../../../assets/app-icon.png") no-repeat right -90px bottom/90%,
    url("../../../assets/side-background.png") repeat;

  order: 0;
  flex: 1 1 auto;
  align-self: stretch;
}

.menu-list {
  display: inline-block;
  position: relative;
  top: 80px;
  left: 40px;
}

.menu-list-element {
  margin: 10px;
  cursor: pointer;
}

.menu-list-element > span {
  color: gray;
  margin: 10px;
  font-size: 1.5em;
}

.active-menu {
  color: lawngreen;
}
